@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-sm: 20rem;
  --breakpoint-md: 40rem;
  --color-primary: #025963;
  --color-secondry: #f6f7f9;
  --color-start: #e8e9e3;
  --color-end: #f7d761;

}

:root {
  font-family:'Times New Roman', Times, serif;
  background: linear-gradient(to right,#e8e9e3,  #e8e9e3, #facc15)
}